/* Coolors Exported Palette - coolors.co/87bcde-397367-33586b-5da399-42858c */

$color1: #87bcde; //rgba(135, 188, 222, 100)
$color2: #397367; //rgba(57, 115, 103, 100)
$color3: #33586b; //rgba(51, 88, 107, 100)
$color4: #5da399; //rgba(93, 163, 153, 100)
$color5: #42858c; //rgba(66, 133, 140, 100)
